.mapping-templates__container {
  height: calc(100vh - 100px);
  display: flex;
}

.mapping-templates__sidebar {
  flex: none;
  width: 240px;
  padding: 15px;
  font-size: 18px;
  font-family: monospace;

  .bp3-button {
    display: block;
    width: 100%;
  }
}

.mapping-templates__content {
  position: relative;
  flex: auto;
  background-color: #1e1e1e;
}

.mapping-templates__panel {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  float: left;
  height: 50px;
  padding: 0 15px;
  font-size: 16px;
  box-sizing: border-box;

  &--left {
    width: calc(50% - 15px);
  }

  &--right {
    width: calc(50% + 15px);
  }
}

.editor-header {
    font-size: 2em;
    color: white;
    margin: 0 1% 0 1%;
}

.editor-header-right {
    float: right;
}

.template-list-header {
    font-size: 1.5em;
}
