.instant-search__panel {
  width: 400px;

  .bp3-input[type="search"] {
    border-radius: 3px;
  }
}

.instant-search__results {
  position: absolute;
  right: 15px;
  top: 60px;
  width: 540px;
  margin-bottom: 15px;
  z-index: 10;

  .bp3-divider {
    margin: 5px 0;
  }

  .bp3-divider:last-child {
    display: none;
  }
}

.instant-search__header {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
  color: #5c7080;
}

.instant-search__header:first-child {
  margin-top: 0;
}

.instant-search__card {
  position: relative;
  display: block;
  color: #182026;

  &:link {
    text-decoration: none;
  }

  &:hover {
    .instant-search__short-text {
      visibility: hidden;
    }
    .instant-search__full-card {
      display: flex;
    }
  }

  .bp3-icon {
    color: #5c7080;
  }
}

.instant-search__short-card {
  display: flex;
  padding: 5px 0;

  .instant-search__card-text {
    max-height: 54px;
    overflow: hidden;
  }
}

.instant-search__full-card {
  display: none;
  position: absolute;
  top: -3px;
  left: -10px;
  width: 520px;
  padding: 5px 0;
  z-index: 100;
  background: #ffffff;
  border: 10px solid white;
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.instant-search__card-image {
  flex: none;
  margin-top: 5px;
}

.instant-search__material-image {
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.instant-search__app-image {
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.instant-search__card-text {
  flex: auto;
  margin: auto 0;
  margin-left: 10px;
  text-shadow: 0 0 0 #182026;

  b {
    background-color: lightyellow;
  }
}
