body {
  min-width: 100vh;
  min-height: 100vh;
  background-color: #f5f8fa;
}

.bp3-navbar-heading {
  font-size: 20px;
  height: 20px;
}

.bp3-navbar-group.bp3-align-left .bp3-button {
  margin-left: 6px;
}

.bp3-navbar-group .bp3-tab {
  padding: 0 10px;
}

.bp3-navbar-group .bp3-tab-indicator {
  height: 4px;
}

.tooltip-inherit-size > span {
  display: inherit;
}

.flet-justify-content-flex-end {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.flex-justify-content-space-between {
  display: flex;
  justify-content: space-between;
}

.main-container-padding {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 20px;
}

.elastic-card-top-elemetn {
  padding-top: 20px;
  display: flex;
  /* align-content: center; */
  justify-content: space-between;
}

.elastic-card-bottom-element {
  padding-top: 20px;
}

.qp-cards-space-around {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-basis-three-block{
  flex-basis: 33.33333333%;
}

.card-Layout-flex{
  display: flex;
  padding-top: 100px;
  justify-content: center;
}