<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <variable name="logDirectory" value="C:/logs/QA.Search/Integration.API"/>

  <targets>
    <target xsi:type="BufferingWrapper" name="bufferingWrapper_logger" overflowAction="Flush" bufferSize="100" flushTimeout="10000" >
      <target xsi:type="AsyncWrapper" name="asyncWrapper_logger" timeToSleepBetweenBatches="0">
        <target xsi:type="File" name="file_logger"
            fileName="${logDirectory}/${level}_${date:format=yyyyMMdd-HH}.log"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="UTF-8">
          <layout xsi:type="JsonLayout" suppressSpaces="true">
            <attribute name="Time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
            <attribute name="Level" layout="${level:upperCase=true}" />
            <attribute name="Logger" layout="${logger:shortName=true}" />
            <attribute name="Message" layout="${message:when=equals(starts-with(message,'@'),false)}" escapeUnicode="false" EscapeForwardSlash="false" />
            <attribute name="Error" layout="${exception:format=tostring}" />
            <attribute name="Scope" encode="false">
              <layout type="JsonLayout"
                      suppressSpaces="true"
                      renderEmptyObject="false"
                      includeMdlc="true"
                      maxRecursionLimit="2" />
            </attribute>
            <attribute name="Data" encode="false">
              <layout type="JsonLayout"
                      suppressSpaces="true"
                      renderEmptyObject="false"
                      includeAllProperties="true"
                      maxRecursionLimit="2" />
            </attribute>
          </layout>
        </target>
      </target>
    </target>

    <target xsi:type="Console" name="console" error="true">
      <layout xsi:type="JsonLayout" suppressSpaces="true">
        <attribute name="Time" layout="${longdate}" />
        <attribute name="Level" layout="${level:upperCase=true}" />
        <attribute name="Logger" layout="${logger:shortName=true}" />
        <attribute name="Message" layout="${message:when=equals(starts-with(message,'@'),false)}" />
        <attribute name="Error" layout="${exception:format=tostring}" />
        <attribute name="Scope" encode="false">
          <layout type="JsonLayout"
                  suppressSpaces="true"
                  renderEmptyObject="false"
                  includeMdlc="true"
                  maxRecursionLimit="2" />
        </attribute>
        <attribute name="Data" encode="false">
          <layout type="JsonLayout"
                  suppressSpaces="true"
                  renderEmptyObject="false"
                  includeAllProperties="true"
                  maxRecursionLimit="2" />
        </attribute>
      </layout>
    </target>

  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" writeTo="bufferingWrapper_logger" minlevel="Info" final="true" />
  </rules>
</nlog>
