.search-page__layout {
  display: flex;
  height: calc(100vh - 50px);
}

.search-page__editor {
  flex: none;
  width: 850px;
  background-color: #1e1e1e;
}

.search-page__results {
  flex: auto;
  background-color: #1e1e1e;
}

.search-page__tables {
  flex: auto;
  padding: 20px;
  overflow: auto;
}

.search-page__docs {
  flex: auto;
  padding: 10px 20px;
  overflow: auto;
  font-size: 1.2em;
}

.search-page__tabs {
  .bp3-button {
    padding: 5px 10px;
    font-size: 14px;
    min-width: 30px;
    min-height: 30px;
    margin-bottom: 5px;
  }
}

.search-page__tab-title {
  padding: 0 10px;

  .bp3-icon {
    color: #5c7080;
  }
}

.search-page__docs code {
  &.hljs {
    border-radius: 5px;
  }

  &:not(.hljs) {
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 5px;
    margin: 0;
    padding: 0 5px;
    padding-bottom: 1px;
    text-shadow: 0.5px 0 0 #182026;
  }
}
